/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
    background-color: #9c27b0;
    position: fixed;
    top: 0;
    width: 100%;
    // padding: 5px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: #fff;
        margin: 0;
        letter-spacing: 2px;
    }
}

.content {
    margin-top: 56px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #303030;
    color: #fff;
}

.container {
    margin-top: 60px;
    width: 80%;
    height: 100%;
}

.row {
    display: flex;

    .w30 {
        width: 30%;
    }
    .w50 {
        width: 50%;
    }
    .w70 {
        width: 70%;
    }
    .w100 {
        width: 100%;
    }
}

.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}

.block {
    border: solid 3px #4e444b;
    border-radius: 12px;

    color: #d1c2cb;
    min-height: 100px;
    max-height: 450px;
    overflow-y: auto;

    padding: 2rem;
    font-size: 1rem;
}